@font-face {
    font-family: "Raleway";
    src: url(/Raleway/Raleway-VariableFont_wght.ttf);
  }

:root {
    font-family: "Raleway";
}

h2 {
    margin: 0; 
}

/* Modal - Add Book */

.button-close {
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 20px; 
    width: 20px; 
    border-radius: 16px;
}

.button-close img {
    height: 15px; 
    width: 15px; 
}

.modal--close {
    display: flex; 
    align-items: center;
    justify-content: end;
}

.data--input h2 {
    text-align: center;
    padding-bottom: 20px; 
}

.modal {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data--input {
    border: 2pt solid black;
    margin: 10px; 
    border-radius: 16px;     
    padding: 10px 10px; 
    height: 100%; 
    min-width: 300px;
    min-height: 10vh;
}

form {
    display: flex; 
    flex-direction: column;
    font-size: 1.1rem;
}

.form--inputs {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    padding: 5px; 
}

.form--submit {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding-top: 10px; 
}

.form--submit input {
    height: 5vh;
    width: 200px;
    background-color: maroon;
    color: white;
    border: 2pt solid black;
    border-radius: 10px;
    font-size: 1.1rem;
}

.form--read {
    content: "read"; 
    background-color: green;

}

.form--unread {
    content: "not read"; 
    background-color: red;
}

.hidden {
    display: none; 
}

/* Button - Add Book */

.modal-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-btn {
    min-width: 320px;
    height: 50px; 
    margin-bottom: 10px; 
    margin-top: 20px; 
    border: 2pt solid black;
    border-radius: 10px;
    background-color: maroon;
    color: white;  
    font-size: 1.2rem; 
}

/* Bookshelf */

.library--display {
    border: 2pt solid black;
    border-radius: 16px;
    margin-top: 10px; 
    padding: 10px 10px; 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    justify-items: center;
    gap: 10px;
    min-height: 40vh;
}

.library--card {
    border: 1pt solid black;
    height: 40vh; 
    width: 30vh; 
    min-height: 200px;   
    min-width: 100px;
}

.library--card p {
    margin: 0;
}

.library--closeBox {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 10px; 
}

.library--bookBox {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    height: 32vh;
}

.library--titleBox {
    margin: 0; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.library--title {
    text-align: center;
}

.library--infoBox {
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: end;
}

.library--author {
    text-align: center;
    padding-bottom: 20px;
}

.library--pages {
    text-align: center;
    padding-bottom: 10px; 
}

.library--read-status {
    text-align: center;
}